.chat {
    border: 2px solid #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    width: 90%;
}

.new-chat-line {
    display: none;
}

.chat-box {
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1em;
    height: auto;
    margin: 2% 0;
    overflow: auto;
    width: fit-content;
    min-width: 25px;
    max-width: 90%;
    padding: 5%;
    position: relative;
}

.chat-gray {
    background-color: #E9E9EB;
    color: #000;
    justify-content: flex-start;
    text-align: left;
    margin-right: auto;
    max-width: 75%;
}

.chat-blue {
    background-color: #218FFD;
    color: #FFF;
    justify-content: flex-end;
    text-align: right;
    margin-left: auto;
    max-width: 75%;
}

@media only screen and (min-width: 768px) {
    .chat {
        max-width: 700px;
        width: 100%;
    }

    .chat-box {
        max-width: 55%;
        padding: 3%;
    }

    .new-chat-line {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }

    .chat-icon {
        border-radius: 50%;
        width: 75px;
    }

    .chat-blue,
    .chat-gray {
        margin-right: 0;
    }

    .chat-gray {
        margin-left: 3%;
    }

}