.prompt-box {
    background-color: #E9E9EB;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin: 2% 0;
    overflow: auto;
    width: 50px;
    min-width: 25px;
    max-width: 90%;
    padding-left: 5%;
}