.chat {
    border: #5EE346 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    width: 90%;
}

.prompt-area {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#prompt {
    background-color: #2A2932;
    color: #5EE346;
    font-size: 2.5vh;
    resize: none;
    padding-bottom: 100px;
    width: 80%;
}

#prompt:focus {
    border-color: #5EE346;
    outline: 0 none;
}

#prompt-button {
    background-color: #0043C8;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 2vh;
    height: 50px;
    margin-top: 3px;
    outline: none;
    width: 125px;
}

#prompt-button:hover {
    color: #0043C8;
    background-color: #FFF;
}

#prompt-button:after {
    color: #5EE346;
}