.response-div {
    border-radius: 20px;
    padding: 0.25em;
    margin: 0.5em;
    height: 500px;
    overflow: auto;
    min-width: 90%;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.response-div::-webkit-scrollbar {
    display: none;
}