.prompt-area {
    border-top: 1px solid #555;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

#prompt {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 1.45em;
    resize: none;
    width: 100%;
}

#prompt:focus {
    outline: 0 none;
}

#prompt-button {
    background-color: #0043C8;
    border: none;
    color: #FFF;
    font-size: 2vh;
    height: 50px;
    outline: none;
    width: fit-content;
    padding: 0 1em;
}

#prompt-button:hover {
    background-color: #FFF;
    color: #0043C8;
    cursor: pointer;
}

#prompt-button:after {
    color: #5EE346;
}