.prompt-area {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

#prompt {
    /* border-bottom-left-radius: 20px; */
    color: #5EE346;
    font-size: 1.45em;
    resize: none;
    width: 100%;
}

#prompt:focus {
    border-color: #5EE346;
    outline: 0 none;
}

#prompt-button {
    background-color: #0043C8;
    border: none;
    /* border-bottom-right-radius: 20px; */
    color: #FFF;
    font-size: 2vh;
    height: 50px;
    margin-top: 3px;
    outline: none;
    width: fit-content;
    padding: 0 1em;
}

#prompt-button:hover {
    color: #0043C8;
    background-color: #FFF;
}

#prompt-button:after {
    color: #5EE346;
}