.response-div {
    border-radius: 20px;
    margin: 5% 0;
    width: 80vw;
}

.prompt-box {
    background-color: #E9E9EB;
}

.response-box {
    background-color: #218FFD;
    color: #FFF;
}

.prompt-box,
.response-box {
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    overflow: scroll;
    margin: 2% 0;
    max-width: 100%;
    padding: 2%;
}

.prompt-box p, 
.response-box p {
    margin-left: 20px;
}

@media screen and (min-width: 1024px) {
    .response-div {
      width: 65vw;
    }
  }