.App {
  background-color: #2A2932;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: left;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

html {
  margin: 0;
}

.app-stuff {
  width: 60vw;
}