.App {
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #FFF;
  font-size: 10vw;
}

html {
  background-color: #2A2932;
  margin: 0;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    width: 80vw;
  }
}

@media screen and (min-width: 1024px) {
  .App-title {
    font-size: 5vw;
  }
}