:root {
  background-color: #FFF;
  color: #000;
}

.App {
  height: 100vh;
  margin: 0 auto;
}

.light {
  background-color: #FFF;
  color: #000;
}

.dark {
  background-color: #2A2932;
  color: #FFF;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

html {
  margin: 0;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {
  .App-title {
    font-size: 5vw;
  }
}